<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
  <UI>
    <Property Id="PROPPWDUSER" Value="userpwd" Secure="yes"/>
    <Property Id="PROPPWDROOT" Value="rootpwd" Secure="yes"/>

    <Binary Id="BannerBmp" SourceFile="Banner.bmp" />

    <Dialog Id="PasswordDlg" Width="370" Height="270" Title="!(loc.PasswordDialogTitle)">
      <Control Id="Title" Type="Text" X="15" Y="6" Width="160" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.PasswordTitle)" />
      <Control Id="Description" Type="Text" X="25" Y="23" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.PasswordTitleDescription)"  NoWrap="no"/>
      <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="BannerBmp" />
      <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

      <Control Id="DialogInfo" Type="Text" X="20" Y="60" Width="228" Height="45" Text="!(loc.PasswordDialogInfo)" TabSkip="yes" Transparent="yes" />

      <Control Id="LabelPwdUser" Type="Text" X="20" Y="100" Height="17" Width="120" Transparent="yes" Text="!(loc.LabelPasswordUser)" />
      <Control Id="EditPwdUser" Type="Edit" X="140" Y="97" Height="17" Width="150" Property="PROPPWDUSER" Indirect="no"/>

      <Control Id="LabelPwdRoot" Type="Text" X="20" Y="120" Height="17" Width="120" Transparent="yes" Text="!(loc.LabelPasswordRoot)" />
      <Control Id="EditPwdRoot" Type="Edit" X="140" Y="117" Height="17" Width="150" Property="PROPPWDROOT" Indirect="no"/>

      <Control Id="DialogDefaultPwdInfo" Type="Text" X="20" Y="150" Width="300" Height="40" Text="!(loc.PasswordDefaultPwdDescription)" TabSkip="yes" Transparent="yes" Disabled="yes" />

      <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
      <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.PasswordButtonNext)" />
      <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.PasswordButtonBack)" />
      <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.PasswordButtonCancel)">
        <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
      </Control>

    </Dialog>
  </UI>
  </Fragment>
</Wix>
